<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<h1>Add Events:</h1>
<body>
<form action="/" method="post">
<!-- Name -->
<label for="event_name">Event Name:</label>
<input type="text" name="event_name" id="event_name">
<!-- Date -->
<label for="event_name">Date:</label>
<input type="date" name="event_date" id="event_date">
<!-- Guests  -->
<label for="event_guests">No. of Guests</label>
<input type="text" name="event_guests" id="event_guests">
<!-- Location -->
<label for="event_location">Location</label>
<input type="text" name="event_location" id="event_location">
<!-- description -->
<label for="event_description">Description</label>
<input type="text" name="event_description" id="event_description">
<!-- recurring? -->
<label for="recurring">Recurring y/n?</label>
<input type="text" name="recurring" id="recurring">
<input type="submit" value="Add Event">
</form>
</body>
</html>